<div class="container">
  <h1> Otus Students </h1>

  <label for="typeahead-basic">Search for a student:</label>
  <input id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="search"/>

  <hr>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">GPA</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of searchResults; index as i" (click)="open(student, content)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.gpa }}</td>
    </tr>
    </tbody>
  </table>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>FirstName: {{studentDetails.firstName}}</p>
      <p>LastName: {{studentDetails.lastName}}</p>
      <p>Email: {{studentDetails.email}}</p>
      <p>GPA: {{studentDetails.gpa}}</p>
      <p>Class Grades: </p>
      <div class="modal-classes" *ngFor="let studentClass of studentDetails.studentClasses">
        <p>{{studentClass.className}}: {{studentClass.grade}}</p>
      </div>
    </div>
  </ng-template>

  <hr>

</div>